{% load static %}
<!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<!-- Latest compiled and minified Bootstrap optional theme CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">

<style>
    .mainWindow{
        padding: 2em;
    }

    .windowBody{
        margin: 0 auto;
        display: table;
    }

    .dropdown{
        margin: 0 auto;
        display: table;
    }

    #bbqChart{
        margin-top: 2em;
    }

</style>