{% load static %}
<!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<!-- Latest compiled and minified Bootstrap optional theme CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">

<!-- Latest compiled and minified BootstrapToggle CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap-toggle.min.css' %}">

<!-- Latest Highcharts CSS -->
<link rel="stylesheet" href="{% static 'css/highcharts.css' %}">

<style>
    .mainWindow{
        padding: 2em;
    }

    .windowBody{
        margin: 0 auto;
        height: 80vh;
        min-width: 50vw;
        max-width: 80vw;
    }

    .dropdown{
        margin: 0 auto;
        display: table;
    }
</style>