{% load static %}
<!-- jQuery necessary for Bootstrap's JavaScript plugins -->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"> </script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"> </script>

<!-- Latest compiled and minified BootstrapToggle JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap-toggle.min.js' %}"> </script>

<!-- Latest compiled and minified Highcharts JavaScript -->
<script type="text/javascript" src="{% static 'js/highcharts.js' %}"> </script>